

.ub1{
    z-index: 119;
    opacity: 0;
    position: absolute;
    width:70px;
    height: 38px;
    left:1800px;
    top: 1000px;
    background: red;
}


.ub2{
    z-index: 119;
    opacity: 0;
    position: absolute;
    width:70px;
    height: 38px;
    left:1800px;
    top: 1000px;
    background: red;
}


.ub3{
    z-index: 119;
    opacity: 0;
    position: absolute;
    width:70px;
    height: 38px;
    left:1800px;
    top: 1000px;
    background: black
}

.ub4{
    z-index: 119;
    opacity: 0;
    position: absolute;
    width:70px;
    height: 38px;
    left:1800px;
    top: 1000px;
    background: black
}


.underbar a {
    padding:0px 5px;
    font-size:30px;
    z-index: 120;
    
    
    text-decoration: none;
    color:white;
    border: 2px solid white;
}
.content_wrapper {
    margin: 0 auto;
	width: 800px;
	overflow: hidden;
}

.title {
    color:black;
    display:block;
    margin: 30px auto;
    text-align:center;`
    font-weight:bold;
    font-size:50px;
}


.article {
    padding-top :30px;
    font-size:20px;

    
}

h4 {display: block;
    width:600px;
    background-color: white;
    text-align: center;
    font-size:30px;
    color:red;
}


.text_parse {
    width:100%;
    height: 100%;
    
}
.pic4{
    
    background: white;
    width: 680px;
    height: 195px;
    position:absolute;
    left: 700px;
    top: 200px;
}

.pic5{
    position:absolute;
    left: 1500px;
    top: 800px;
    background: white;
}


.pic6{
    position:absolute;
    left: 700px;
    top: 700px;
    background: white;
}


.pic7{
    position:absolute;
    left: 200px;
    top: 550px;
    background: white;
}


.ad_image {
    
   
}

.image_group {
    position: absolute;
    left: 250px;
    top: 200;
    opacity: 1;
    
    
    
    opacity: 1;
}

.img_item {
   position:absolute;
    width: 200px;    
     left: 500px;
    top: 300px;
    
   
    
}

.item1 {
     
    z-index:60;
    width: 200px;    
     left: 600px;
    top: 600px;
    opacity: 0;
   
}

.img_group {
    position:fixed;
    top:0px;
    left:0px;
}

.item2 {
     
    
        z-index: 3
     left: 700px;
    top: 300px;
    opacity: 0;
   
}

.follow_img {
    
    position:absolute;
    left:50%;
    top:50%;
}


.close_box {
    z-index: 100;
    display:block;
    position:absolute;
    top:15px;
    left:15px;
    width:10px;
    height:10px;
    background-color:black;
    cursor: pointer;
    
}


.guidebar {
    position: fixed;
    width:1720px;
    height: 120px;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    padding-top:20px;
}

.guidebar p {
    margin: 10px;
    color:white;
    font-size:30px;
    
}


.layer{
    width:100%;
    height: 100%;
    background-color: black;
    opacity:0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 90;
}
.endbar {
    width:100%;
    background: white;
    opacity: 0.7;
     font-size: 100px;
     text-align: center;
     position: absolute;
    top: 300px;
    opacity: 0;
    border: 2px solid;
    font-weight: bold;
    z-index: 100;


}


.iframe {
    left:50%;
}



.img_asis{
   
}
