<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yongling</title>
	<script language="javascript"> 
   { 
         alert(" 오늘의 교훈 : 화이팅 ");  
   } 
   </script>
</head>



<body>
    

    <div class="header">
       
        <div class="wrap">
            <div class="logo">
                <a href="https://yonsei-info-googling-wannasleep00.c9users.io/"><img src="http://i.imgur.com/tV71nQ1.jpg"></a>
    		</div>
            
        </div>
    </div>

    <div class="content">
    	<div class="wrap">
    		
        	<form class=searchForm action="/result" method="post">
                <div class="form-group">
                    <input type="search" class="form-control" name="query" id="searchFrom" placeholder="연글링으로 쉽게 찾자">
                   
                </div>
                <br>
                 <button type="submit" class="btn btn-warning btn-lg">GO</button>
                 <br>
                 <br>
                 <a class="btn btn-primary btn-lg" href="https://career.yonsei.ac.kr/" role="button" margin-right:20px;>커리어 연세</a>
                 <a class="btn btn-primary btn-lg" href="http://yscec.yonsei.ac.kr/login/index.php" role="button" margin-right:20px;>YSCEC</a>
                 <br>
                 <br>
                 <a class="btn btn-primary btn-lg" href="http://portal.yonsei.ac.kr/main/" role="button" margin-right:20px;>연세 포탈</a>
                 <a class="btn btn-primary btn-lg" href="http://library.yonsei.ac.kr/" role="button" margin-right:20px;>학술정보원</a>
            </form>
            <br>
            
    	</div>
	</div>
</body>
</html>