.content_wrapper {
    margin: 0 auto;
	width: 800px;
	overflow: hidden;
}

.title {
    color:black;
    display:block;
    margin: 50px auto;
    text-align:center;
    font-weight:bold;
    font-size:65px;
}



.article {
    font-size:20px;
}


.ad_image {
    
   
}

.image_group {
    position: absolute;
    left: 250px;
    top: 200;
    opacity: 1;
}

.img_item {
    position: absolute;
    width: 200px;    
     left: 500px;
    top: 300px;
    opacity: 0;
   
    
}



.close_box {
    display:block;
    position:absolute;
    top:15px;
    left:15px;
    width:10px;
    height:10px;
    background-color:grey;
    cursor: pointer;
    
}


.img_asis{
   
}
